
extends layout

block content
  h1= title
  p Welcome to #{title}
  div.main
      span 123412
          a(href='#') 这是a标签
      div.content
        ul
           each item in test
             li #{item.id}:#{item.content} 
        +sayHi 
        +testmoudel