
mixin test03
 div.div2
    ul
       li 6666

doctype html
html
   head
      title= title
      - var cs = 'UTF-8'
      meta(charset='#{cs}')
      link(rel='stylesheet', href='/stylesheets/style.css')
   body
      block content



